---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/sections/landing/Landing.astro";
import About from "../components/sections/about/About.astro";
import Projects from "../components/sections/project/Projects.astro";
import Contact from "../components/sections/contact/Contact.astro";

---

<Layout title="Dayniel Martinez - Portfolio">
  <main>
    <Landing/>
    <About/>
    <Projects/>
    <Contact/>
  </main>
</Layout>
<style>

</style>