---
// const cards = [
// { id: 1, title: "Card 1", img: "/laptops/laptop_1.jpg" },
// { id: 2, title: "Card 2", img: "/laptops/laptop_2.jpg" },
// { id: 3, title: "Card 3", img: "/laptops/laptop_3.jpg" },
// { id: 4, title: "Card 2", img: "/laptops/laptop_4.jpg" },
// { id: 5, title: "Card 5", img: "/laptops/laptop_5.jpg" },
// { id: 6, title: "Card 6", img: "/laptops/laptop_6.jpg" },
// ];

const { cards } = Astro.props;
---

<script>
  document.addEventListener("astro:page-load", () => {
    const carousel_list = document.querySelector(".carousel-list");
    const first_slide = document.querySelector(".first_slide");
    const timeBtwSlids = 2000;
    let current = 0;
    const card_quantity = carousel_list.children.length;
    carousel_list.children[0]?.classList.add("active");

    let interval = setInterval(() => {
      changeCurrent(current + 1);
    }, timeBtwSlids);

    const changeCurrent = (target, restartInterval = false) => {
      const curr = carousel_list.children[current];
      current = target;
      if (current >= card_quantity) current = 0;
      const next = carousel_list.children[current];

      if (curr == undefined || next == undefined) return;

      if (curr.classList.contains("active")) curr.classList.remove("active");
      next.classList.add("active");

      // Restart the Interval when reaching the last item
      if (restartInterval) {
        clearInterval(interval);
        interval = setInterval(() => changeCurrent(current + 1), timeBtwSlids);
      }

      updateSlides();
    };

    const updateSlides = () => {
      //@ts-ignore
      first_slide.style.marginLeft = -300 * current + "px";
    };

    carousel_list.querySelectorAll(".carousel-mini").forEach((item, index) => {
      item.addEventListener("click", () => {
        changeCurrent(item.classList[1].split("-")[1], true);
      });
    });
  });
</script>

<div class="carousel">
  <div class="carousel-content">
    <div class="carousel-list">
      {
        cards &&
          cards.length > 1 &&
          cards.map((card, index) => (
            <div class={`carousel-mini index-${index}`}>
              <img src={card.img} alt="" srcset="" />
            </div>
          ))
      }
    </div>
    {
      cards?.map((card, index) => (
        <div
          class={`carousel-item ${index == 0 ? "first_slide" : ""} index-${index}`}
        >
          <img src={card.img} alt="" srcset="" />
        </div>
      ))
    }
  </div>
  <slot />
</div>

<style>
  :root {
    --item-size: 70px;
    --carouse-width: 300px;
    --carouse-height: 250px;
  }

  .carousel {
    width: 100%;
    padding: 10px;
    color: white;
    position: relative;
  }
  .carousel > h2 span {
    color: var(--light-blue);
  }
  .carousel-content {
    width: var(--carouse-width);
    height: var(--carouse-height);
    background-color: var(--darker-blue);
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .carousel-list {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    /* background: linear-gradient(transparent, #000000d2 90%); */
    /* box-shadow: 0 0 10px #0000009a; */
  }
  .carousel-list .active {
    border: 3px solid var(--light-blue);
    margin-bottom: 12px;
    width: 30px;
  }
  .carousel-mini {
    background-color: var(--body);
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #0000009a;
  }
  .carousel-item {
    width: 100%;
    height: 100%;
    background-color: black;
    flex-shrink: 0;
    transition: ease 0.3s;
    overflow: hidden;
  }

  .carousel-item img,
  .carousel-mini img {
    height: 100%;
    object-fit: cover;
  }
</style>
