<footer>
  <div class="footer-text">
    <p>Prisma Store</p>
    <div class="social-media">
      <a href="">
        <i class="bx bxl-youtube" style="color: red;"></i>
      </a>
      <a href="">
        <i class="bx bxl-facebook" style="color: blue;"></i>
      </a>
      <a href="">
        <i class="bx bxl-twitter" style="color: #0077ff;"></i>
      </a>
      <a href="">
        <i class="bx bxl-instagram-alt" style="color: deeppink;"></i>
      </a>
    </div>
  </div>
  <p>All right reserved 2024</p>
</footer>

<style>
  footer {
    background: black;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
  }

  .footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  footer p {
    font-size: 1.2rem;
  }
  footer p span {
    font-weight: bold;
  }

  footer > p {
    font-size: 0.75rem;
    opacity: 0.5;
    margin-top: 10px;
  }
  .footer-text {
    margin-bottom: 10px;
  }
  footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
</style>
