---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/carousel/Carousel.astro";
import ProductCard from "../../components/product/ProductCard.astro";
import products from "../../mock/products.json";
---

<Layout title="Prisma Products">
  <!-- <Carousel
      cards={[{ id: 1, title: "Card 1", img: "/laptops/laptop_1.jpg" }]}
    /> -->
  <section id="header">
    <div class="hero">
      <h1>Get all the best products on stock now!</h1>
    </div>
    <div class="products-off">
      <Carousel
        cards={[
          { id: 1, title: "Card 1", img: "/laptops/laptop_1.jpg" },
          { id: 2, title: "Card 2", img: "/laptops/laptop_2.jpg" },
          { id: 3, title: "Card 3", img: "/laptops/laptop_3.jpg" },
          { id: 4, title: "Card 2", img: "/laptops/laptop_4.jpg" },
          { id: 5, title: "Card 5", img: "/laptops/laptop_5.jpg" },
          { id: 6, title: "Card 6", img: "/laptops/laptop_6.jpg" },
        ]}
      >
        <h3>
          Get a <span style="color: #58c458;">25% off</span>{" "}Laptops now!
        </h3>
      </Carousel>
      <div class="button-wa">
        <button>I Want It Now! <span><i class='bx bxs-star'></i></span></button>
      </div>
    </div>
  </section>
  <section id="products">
    <h2>Most buyed products</h2>
    <div class="product-list">
      {
        products.map((p) => (
          <ProductCard
            name={p.product}
            price={p.prize}
            thumbnail={p.thumbnail}
            id={p.id}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    flex-direction: column;
    color: white;
  }

  .hero {
    background: linear-gradient(#00000071, #000000b9),
      url("/product-banner.jpg");
    padding: 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .hero h1 {
    transform: translateY(-30px)
  }

  @media (min-width: 600px) {
    .hero {
      height: 250px;
    }
  }
  .products-off {
    transform: translateY(-60px);
  }

  #products {
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: var(--light-blue);
  }
  .button-wa {
    padding: 10px;
  }
  .button-wa button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
</style>
