---
import  NavAccountItem from "./NavAccountItem.astro";

---

<script>
  const account_btn = document.querySelector('.account-btn');
  const acccount_dropdown = document.querySelector('.account-dropdown');

  document.addEventListener('click', () => {

  });

  account_btn.addEventListener('click', () => {
    const toggle_class = "drowpdow-active";
    if (acccount_dropdown.classList.contains(toggle_class)) {
      acccount_dropdown.classList.remove(toggle_class);
    } else {
      acccount_dropdown.classList.add(toggle_class);

    }
  })
</script>

<div class="nav-account">
  <div class="account-btn">
    <i class="bx bxs-user-circle"> </i>
    <span class="account-btn-check">
      <i class="bx bx-check"></i>
    </span>
  </div>
  <div class="account-dropdown">
    <div class="account-header">
      <p>@Dayniel Lazaro</p>
      <span>User</span>
    </div>
    <div class="account-content">
      <NavAccountItem tag="Profile" href="#" icon="bx bxs-user"/>
      <NavAccountItem tag="Payment Card" href="#" icon="bx bxs-credit-card-alt"/>
      <NavAccountItem tag="Logout" href="#" icon="bx bx-log-out"/>
    </div>
  </div>
</div>

<style>
  .account-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    padding: 10px 5px;
    min-height: 70%;
  }

  .account-header {
    display: flex;
    flex-direction: column;
    color: white;
  }
  .account-header  p {
    font-size: 0.9rem;
  }
  .account-header  span {
    font-size: 0.6rem;
    color: var(--light-blue);
    margin-left: 0.9rem;
  }
  .account-dropdown {
    padding: 10px 5px;

    position: absolute;
    right: 0;
    width: 150px;
    height: 200px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: 1px solid var(--light-blue);
    z-index: 99;

    opacity: 0;
    top: 85px;
    transition: all ease 0.2s;
    pointer-events: none;
  }
  .drowpdow-active {
    top: 75px;
    opacity: 1;
    pointer-events: all;

  }
  .account-dropdown::after {
    content: '';
    position: absolute;
    top: -6px;
    right: 20px;
    width: 10px;
    aspect-ratio: 1;
    background-color: var(--dark-blue);
    rotate: 45deg;
    border-radius: 2px;
    border-top: 1px solid var(--light-blue);
    border-left: 1px solid var(--light-blue);

  }
  .account-btn {
    width: 40px;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--light-blue);
    position: relative;
  }

  .account-btn-check {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: var(--light-blue);
    border: 3px solid #13151a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
  }
</style>
