
---
interface Props {
    tag:string;
    icon:string;
    href:string
}

const {tag, icon, href} = Astro.props

---

<div class="sidebar-element">
  <a href={href}>
    <span>
      <i class={icon}></i>
    </span>
    {tag}
  </a>
</div>

<style>
    .sidebar-element a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--light-blue);
    }
</style>